In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
datajkt1 = pd.read_csv('dataset\ispu_dki1.csv')
datajkt2 = pd.read_csv('dataset\ispu_dki2.csv')
datajkt3 = pd.read_csv('dataset\ispu_dki3.csv')
datajkt4 = pd.read_csv('dataset\ispu_dki4.csv')
datajkt5 = pd.read_csv('dataset\ispu_dki5.csv')

In [4]:
miss_value = datajkt1.isna().sum()
print(miss_value)

tanggal        0
stasiun        0
pm10         212
so2          175
co           150
o3           203
no2          193
max            9
critical     110
categori       0
pm25        4018
dtype: int64

In [5]:
# Drop rows with missing values
data_dropped = datajkt1.dropna()

# Impute missing values with the mean
data_filled = datajkt1.fillna(datajkt1.mean())

# Optionally, you can save the processed DataFrame
data_filled.to_csv('dataset\processed_file.csv', index=False)

C:\Users\Rahmad Ilham Sani\AppData\Local\Temp\ipykernel_5516\2518659611.py:5: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data_filled = datajkt1.fillna(datajkt1.mean())

In [6]:
def detect_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers


outliers_pm10 = detect_outliers(datajkt1, 'pm10')

# Display the outliers
print(outliers_pm10)

         tanggal             stasiun   pm10   so2    co     o3   no2    max  \
946   2012-08-04  DKI1 (Bunderan HI)   11.0  26.0  27.0   55.0  14.0   55.0
947   2012-08-05  DKI1 (Bunderan HI)    8.0  25.0  16.0   63.0  11.0   63.0
948   2012-08-06  DKI1 (Bunderan HI)    9.0  25.0  38.0  106.0  19.0  106.0
949   2012-08-07  DKI1 (Bunderan HI)    6.0  23.0  36.0  102.0  25.0  102.0
950   2012-08-08  DKI1 (Bunderan HI)   12.0  25.0  34.0   87.0  24.0   87.0
964   2012-08-22  DKI1 (Bunderan HI)    8.0  21.0  13.0   88.0  16.0   88.0
965   2012-08-23  DKI1 (Bunderan HI)    6.0  22.0  18.0   88.0  13.0   88.0
966   2012-08-24  DKI1 (Bunderan HI)    7.0  29.0  16.0   90.0  15.0   90.0
967   2012-08-25  DKI1 (Bunderan HI)    8.0  23.0  14.0   95.0  16.0   95.0
971   2012-08-29  DKI1 (Bunderan HI)   13.0  22.0  33.0   98.0  23.0   98.0
972   2012-08-30  DKI1 (Bunderan HI)   11.0  27.0  30.0   80.0  19.0   80.0
991   2012-09-18  DKI1 (Bunderan HI)   11.0  22.0  36.0   88.0  20.0   88.0
992   2012-09-19  DKI1 (Bunderan HI)    6.0  33.0  34.0   69.0  18.0   69.0
993   2012-09-20  DKI1 (Bunderan HI)    6.0  24.0  31.0   76.0  15.0   76.0
994   2012-09-21  DKI1 (Bunderan HI)    6.0  27.0  34.0   89.0  27.0   89.0
1006  2012-10-03  DKI1 (Bunderan HI)    8.0  30.0  40.0   97.0  21.0   97.0
1007  2012-10-04  DKI1 (Bunderan HI)    6.0  27.0  40.0   76.0  27.0   76.0
1058  2012-11-24  DKI1 (Bunderan HI)   11.0  30.0  31.0   84.0  18.0   84.0
1160  2013-03-06  DKI1 (Bunderan HI)  103.0   5.0  80.0   57.0  31.0  103.0
1519  2014-02-28  DKI1 (Bunderan HI)   94.0   7.0  90.0   49.0  34.0   94.0
1638  2014-06-27  DKI1 (Bunderan HI)   92.0  11.0  52.0   52.0  22.0   92.0
1870  2015-02-14  DKI1 (Bunderan HI)    7.0   8.0  35.0   40.0  16.0   40.0
1872  2015-02-16  DKI1 (Bunderan HI)    6.0   6.0  56.0   35.0  18.0   56.0
1873  2015-02-17  DKI1 (Bunderan HI)   12.0   5.0  22.0   36.0  13.0   36.0
1874  2015-02-18  DKI1 (Bunderan HI)    8.0   5.0  34.0   43.0  24.0   43.0
1875  2015-02-19  DKI1 (Bunderan HI)   11.0   7.0  16.0   41.0  13.0   41.0
1879  2015-02-23  DKI1 (Bunderan HI)    8.0  11.0  16.0   46.0  12.0   46.0
1883  2015-02-27  DKI1 (Bunderan HI)   10.0   7.0  29.0   75.0  21.0   75.0
2011  2015-07-05  DKI1 (Bunderan HI)   94.0  35.0  47.0   67.0  20.0   94.0
2501  2016-11-06  DKI1 (Bunderan HI)  104.0  32.0  42.0   46.0   5.0  104.0
2733  2017-06-26  DKI1 (Bunderan HI)   12.0  12.0  14.0   29.0   1.0   29.0
2786  2017-08-18  DKI1 (Bunderan HI)    5.0  21.0  17.0   63.0   4.0   63.0
2904  2017-12-14  DKI1 (Bunderan HI)   10.0  20.0  20.0   31.0   4.0   31.0
2923  2018-01-02  DKI1 (Bunderan HI)   14.0  18.0  12.0   17.0   1.0   18.0
2962  2018-02-10  DKI1 (Bunderan HI)   13.0  24.0  26.0    NaN   4.0   26.0
2969  2018-02-17  DKI1 (Bunderan HI)   13.0  22.0  17.0   24.0   3.0   24.0
3011  2018-03-31  DKI1 (Bunderan HI)   14.0  22.0  15.0   21.0   1.0   22.0
3016  2018-04-05  DKI1 (Bunderan HI)    8.0  24.0  25.0   16.0   4.0   25.0
3017  2018-04-06  DKI1 (Bunderan HI)    8.0  22.0  21.0    7.0   4.0   22.0
3018  2018-04-07  DKI1 (Bunderan HI)    8.0  23.0  21.0    6.0   4.0   23.0
3019  2018-04-08  DKI1 (Bunderan HI)    6.0  22.0  16.0    4.0   1.0   22.0
3020  2018-04-09  DKI1 (Bunderan HI)   11.0  22.0  20.0   10.0   3.0   22.0
3021  2018-04-10  DKI1 (Bunderan HI)   10.0  22.0  19.0    5.0   2.0   22.0
3067  2018-05-26  DKI1 (Bunderan HI)    6.0  17.0  24.0   16.0   6.0   24.0
3183  2018-09-19  DKI1 (Bunderan HI)    6.0  12.0  16.0   14.0   4.0   16.0
3184  2018-09-20  DKI1 (Bunderan HI)    8.0  11.0  19.0    8.0   3.0   19.0
3185  2018-09-21  DKI1 (Bunderan HI)    6.0  11.0  22.0    8.0   3.0   22.0
3186  2018-09-22  DKI1 (Bunderan HI)    5.0  10.0  22.0   19.0   3.0   22.0
3187  2018-09-23  DKI1 (Bunderan HI)    6.0  11.0  21.0   16.0   4.0   21.0
3283  2018-12-28  DKI1 (Bunderan HI)    4.0  13.0   NaN   63.0   NaN   63.0

     critical     categori  pm25
946        O3       SEDANG   NaN
947        O3       SEDANG   NaN
948        O3  TIDAK SEHAT   NaN
949        O3  TIDAK SEHAT   NaN
950        O3       SEDANG   NaN
964        O3       SEDANG   NaN
965        O3       SEDANG   NaN
966        O3       SEDANG   NaN
967        O3       SEDANG   NaN
971        O3       SEDANG   NaN
972        O3       SEDANG   NaN
991        O3       SEDANG   NaN
992        O3       SEDANG   NaN
993        O3       SEDANG   NaN
994        O3       SEDANG   NaN
1006       O3       SEDANG   NaN
1007       O3       SEDANG   NaN
1058       O3       SEDANG   NaN
1160     PM10  TIDAK SEHAT   NaN
1519     PM10       SEDANG   NaN
1638     PM10       SEDANG   NaN
1870       O3         BAIK   NaN
1872       CO       SEDANG   NaN
1873       O3         BAIK   NaN
1874       O3         BAIK   NaN
1875       O3         BAIK   NaN
1879       O3         BAIK   NaN
1883       O3       SEDANG   NaN
2011     PM10       SEDANG   NaN
2501     PM10  TIDAK SEHAT   NaN
2733       O3         BAIK   NaN
2786       O3       SEDANG   NaN
2904       O3         BAIK   NaN
2923      SO2         BAIK   NaN
2962       CO         BAIK   NaN
2969       O3         BAIK   NaN
3011      SO2         BAIK   NaN
3016       CO         BAIK   NaN
3017      SO2         BAIK   NaN
3018      SO2         BAIK   NaN
3019      SO2         BAIK   NaN
3020      SO2         BAIK   NaN
3021      SO2         BAIK   NaN
3067       CO         BAIK   NaN
3183       CO         BAIK   NaN
3184       CO         BAIK   NaN
3185       CO         BAIK   NaN
3186       CO         BAIK   NaN
3187       CO         BAIK   NaN
3283       O3       SEDANG   NaN

In [7]:
outliers_co = detect_outliers(datajkt1, 'co')

# Display the outliers
print(outliers_co)

         tanggal             stasiun  pm10   so2    co    o3   no2   max  \
0     2010-01-01  DKI1 (Bunderan HI)  60.0   4.0  73.0  27.0  14.0  73.0
19    2010-01-20  DKI1 (Bunderan HI)  61.0   5.0  63.0  16.0  17.0  63.0
27    2010-01-28  DKI1 (Bunderan HI)  72.0   8.0  55.0  20.0  17.0  72.0
36    2010-02-06  DKI1 (Bunderan HI)  65.0   8.0  59.0  24.0  15.0  65.0
44    2010-02-14  DKI1 (Bunderan HI)  55.0   6.0  61.0  16.0  13.0  61.0
...          ...                 ...   ...   ...   ...   ...   ...   ...
1849  2015-01-24  DKI1 (Bunderan HI)  52.0   5.0  67.0  41.0  21.0  67.0
1872  2015-02-16  DKI1 (Bunderan HI)   6.0   6.0  56.0  35.0  18.0  56.0
1877  2015-02-21  DKI1 (Bunderan HI)  24.0   9.0  60.0  57.0  20.0  60.0
1950  2015-05-05  DKI1 (Bunderan HI)  63.0   NaN  55.0  62.0  23.0  63.0
2234  2016-02-13  DKI1 (Bunderan HI)  52.0  31.0  55.0  52.0   NaN  55.0

     critical categori  pm25
0          CO   SEDANG   NaN
19         CO   SEDANG   NaN
27       PM10   SEDANG   NaN
36       PM10   SEDANG   NaN
44         CO   SEDANG   NaN
...       ...      ...   ...
1849       CO   SEDANG   NaN
1872       CO   SEDANG   NaN
1877       CO   SEDANG   NaN
1950     PM10   SEDANG   NaN
2234       CO   SEDANG   NaN

[83 rows x 11 columns]